.contact-bg {
    background: var(--main-yellow-color);
}

.contact-form-ctn {
    background: rgb(226, 226, 226);
    border-radius: 15px;
}

.address {
    margin-bottom: 20px;
}

.address>span {
    display: block;
    font-size: 20px;
    text-decoration: none !important;
    margin-bottom: 10px;
}

.entrances>span {
    display: block;
    font-size: 20px;
    text-decoration: none !important;
    padding-left: 25px;
    margin-bottom: 10px;
}

.plane::before {
    content: url(../img/contact/plane.svg);
    position: absolute;
    left: 15px;
    width: 20px;
}

.train::before {
    content: url(../img/contact/train.svg);
    position: absolute;
    left: 15px;
    width: 20px;
}

.car::before {
    content: url(../img/contact/car.svg);
    position: absolute;
    left: 15px;
    width: 20px;
}

:is(.address, .entrances) {
    width: 100%;
}

:is(.address, .entrances)>p {
    font-size: 20px;
}

.france {
    background: url(../img/contact/france.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.form-group {
    margin-bottom: 1.5em;
    transition: all .3s;
}

.form-label {
    font-size: .75em;
    color: var(--font-color);
    display: block;
    opacity: 0;
    transition: all .3s;
    transform: translateX(-50px);
}

.form-control {
    box-shadow: none;
    border-radius: 8px;
    border-color: #ccc;
    border-style: none none solid none;
    width: 100%;
    font-size: 1.25em;
    transition: all .6s;
}

.form-control::placeholder {
    color: #aaa;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--font-hover-color);
    outline: none;
}

.form-group:focus-within {
    transform: scale(1.1, 1.1);
}

.form-control:invalid:focus {
    border-color: red;
}

.form-control:valid:focus {
    border-color: green;
}

.btn {
    font-size: 1em;
    padding: 10 50px;
    text-transform: uppercase;
    height: 42px;
    width: 60%;
    margin: 24px auto;
    border-radius: 6px;
    border: none;
    color: black;
    background-color: var(--main-yellow-color);
    cursor: pointer;
}

.btn:hover {
    border-color: var(--font-hover-color);
    color: var(--font-hover-color);
}

textarea {
    resize: none;
}

.focused>.form-label {
    opacity: 1;
    transform: translateX(0px);
}